:root {
  --text-color: #152356;
  --text-black: #121723;
  --text-gray: #5b647e;
  --accent-color: #007afe;
  --red-color: #ec494c;
  --green-color: #36b27c;
  --strong-gray-color: #b9bccc;
  --light-gray-color: #fbfbfb;
  --gray-color: #dbe2e8;
  --blue-color: #0050c1;
  --item-grey: #f5f6f7;
}
