.page {
    display: flex;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    overflow: auto;
}

.form {
    display : flex;
    /* flex-direction : column; */
    width: 50vh;
}

.formRow {
    display : flex;
    padding: 0;
    justify-content: space-between;
}

.countingTatamis {
    flex-grow: 1;
    margin-left: 0.75vh;
}

.countingRings {
    flex-grow: 1;
    margin-right: 0.75vh;
}

.endDateInput {
    flex-grow: 1;
}

.startDateInput {
    flex-grow: 1;
}